# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# ============================================================
# Local development / source installations
# ============================================================

gala/

# ============================================================
# Jupyter
# ============================================================

.ipynb_checkpoints/

# ============================================================
# Editors
# ============================================================

.vscode/
.idea/

# ============================================================
# Large raw GD-1 observational dataset
# ============================================================

data/gd-1/gd1_tbl_with_memb_prob.mrt

# ========================
# Extra files
# ========================

notebooks_extra/
LTR.docx
folder.txt
work_doc.docx


# ============================================================
# OS files
# ============================================================

.DS_Store
Thumbs.db
